<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= camp.title%>
    </title>
</head>

<body>
    <h1>
        <%= camp.title%>
    </h1>
    <h2>location: <%= camp.location%>
    </h2>
    <%if(camp.price){%>
        <h2>price: <%=camp.price%>
        </h2>
        <%}%>
            <%if(camp.price){%>
                <h2>description: <%=camp.description%>
                </h2>
                <%}%>
                    <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                        <button>Delete Campground</button>
                    </form>
                    <a href="/campgrounds/<%=camp._id%>/edit">Update Information</a>
                    <a href="/campgrounds">Campgrounds</a>

</body>

</html>